@import "css/bootstrap";
@import "../jspm_packages/github/distros/bootstrap-less@3.3.9/fonts";

@import "css/smartadmin-production-plugins.less";
@import "css/smartadmin-production.less";
@import "css/smartadmin-skin/smartadmin-skins.less";

@import "css/variables.less";

@base-url: "img/";
@fa-font-path: "fonts/";

@body-bg:               #000;
