@import "css/bootstrap";
@import "css/library/fontawesome/font-awesome.less";

@import "css/smartadmin-production-plugins.less";
@import "css/smartadmin-production.less";
@import "css/smartadmin-skin/smartadmin-skins.less";

@import "css/variables.less";

@base-url: "img/";
@fa-font-path: "fonts/";

@body-bg:               #000;
